.float  {
    background-color: rgb(94, 92, 89);
    padding: 10px;
}

ul{
    list-style: none;  
}

.float span {
    float: right;
    color: aliceblue;
    font-weight: bold;
    margin-right: 30px;
}

.float ul {
    text-align: center;
}


.float ul li{
    display: inline;  
}

.float li a{
    color: aliceblue;
    text-decoration: none;
    padding: 15px;
}

#Contact {
    border: 1px solid rgb(65, 201, 224);
    background-color: rgb(65, 201, 224);
    width: 80px;
    height: 20px;
    border-radius: 5px;    
}

#Contact a {
    color: black;    
}

.float .items {
    float: left;
}